# Ignore all resource files to avoid uploading copyrighted material
**/resources/books/*
**/resources/courses/*
**/projects/*


# Allow placeholders in resource directories
!**/resources/books/.gitkeep
!**/resources/courses/.gitkeep

# Prevent uploading large files (e.g., downloaded videos, ebooks, datasets)
*.pdf
*.epub
*.mobi
*.mp4
*.avi
*.mov
*.zip
*.srt
*.doc
*.docx
*.xls
*.ppt
*.pptx
*.csv
*.jpg
*.png
*.wav

# Allow assets for project
!/assets/img/*
!/assets/anki/*

# Ignore local IDE and OS files
.DS_Store
.idea/
.vscode/
*.log
*.pyc
__pycache__/

# Allow project-related files (e.g., Jupyter Notebooks, Python scripts)
!projects/*.ipynb
!projects/*.py
